@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: #000000 !important;
  overflow: hidden;
  background-size: cover;
  background-repeat:no-repeat;
}

.cookies{
    position: absolute;
    background-color: #000000 !important;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.ytplayer
{
  pointer-events: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

p{
  font-family: 'Roboto', monospace;
  padding: 50px 50px 10px 50px;
  text-align: center;
  color: #ffffff !important;
  font-size: large;
}

button{
  font-family: 'Roboto', monospace;
}

#accept{
  margin-left: 30px;
  margin-top: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; 
}
